@use "../../../generalStyles.scss";

.paragraf {
    font-size: 1.3rem;
    font-weight: 600;
    color: generalStyles.$darkBlue;
    cursor: pointer;
    transition: generalStyles.$transition;
    &:hover {
        color: generalStyles.$orange;
    }
}
