@use "../../../../index.scss";

.update {
    @extend %displayDirectionRow;
    justify-content: space-between;
    width: 120px;
    height: 40px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: index.$borderRadius;
    background-color: index.$green;
    color: index.$whiteSmoke;
    font-weight: 600;
    border: none;
    transition: index.$transition;
    .icon {
        @extend %displayDirectionRow;
        transition: index.$transition;
        background-color: index.$whiteSmoke;
        height: 25px;
        width: 25px;
        border-radius: index.$borderRadius;
        color: index.$green;
    }
    &:hover {
        border: 1px solid index.$green;
        background-color: index.$whiteSmoke;
        color: index.$green;
        .icon {
            background-color: index.$green;
            color: index.$whiteSmoke;
        }
    }
}
