@use "../../../generalStyles.scss";

.menu {
    background-color: generalStyles.$darkBlue;
    color: generalStyles.$whiteSmoke;
    padding: 10px;
    font-size: 1rem;
    border-radius: generalStyles.$borderRadius;
    width: 250px;
    cursor: pointer;
    option {
        transition: generalStyles.$transition;
        &:hover {
            color: generalStyles.$orange;
        }
    }
}
