@use "../../../index.scss";

.updateForm {
    @extend %displayDirectionColumn;
    gap: 10px;
    width: 250px;
    .typeText {
        width: 91%;
        padding: 10px;
        border-radius: index.$borderRadius;
        background-color: index.$darkBlue;
        color: index.$whiteSmoke;
        font-size: 0.9rem;
        font-weight: 600;
        cursor: pointer;
        border: none;
    }
    ::placeholder {
        color: index.$whiteSmoke;
        font-size: 0.9rem;
        font-weight: 100;
    }
    .forCheckbox {
        @extend %displayDirectionRow;
        justify-content: space-between;
        width: 91%;
        padding: 8px;
        border: 2px solid index.$darkBlue;
        border-radius: index.$borderRadius;
        cursor: pointer;
        transition: index.$transition;
        label {
            transition: index.$transition;
            color: index.$darkBlue;
            width: 100%;
            height: 100%;
            font-size: 0.9rem;
            font-weight: 600;
            cursor: pointer;
        }
        &:hover {
            background-color: index.$darkBlue;
            label {
                color: index.$whiteSmoke;
            }
        }
    }
    & button {
        @extend %displayDirectionRow;
        justify-content: space-between;
        border-radius: index.$borderRadius;
        background-color: index.$green;
        color: index.$whiteSmoke;
        cursor: pointer;
        transition: index.$transition;
        &:hover {
            background-color: index.$whiteSmoke;
            color: index.$green;
            .icon {
                background-color: index.$green;
                color: index.$whiteSmoke;
            }
        }
        .icon {
            @extend %displayDirectionRow;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: index.$whiteSmoke;
            color: index.$green;
            transition: index.$transition;
        }
    }
}
