@use "../../../generalStyles.scss";

.productCardDelete {
    width: 50%;
}
///////////////
.productCardHome {
    width: 30%;
    color: generalStyles.$black;
    border-radius: generalStyles.$borderRadius;
    background-color: generalStyles.$blue;
    padding: 10px;
    p {
        font-weight: 600;
        transition: generalStyles.$transition;
        font-size: 1rem;
        cursor: pointer;
        &:hover {
            color: generalStyles.$orange;
        }
    }
    img {
        width: 100%;
    }
    .buttons {
        @extend %displayDirectionRow;
        justify-content: space-between;
        padding-top: 1.5rem;
        & button:first-child {
            @extend %styledUpdateButton;
        }
        & button:last-child {
            @extend %styledDeleteButton;
        }
    }
}
///////////////
.productCardUpdate {
    .buttons {
        & button:first-child {
            display: none;
        }
    }
}
