// variables
$blue: #afdbfd;
$darkBlue: #1e2760;
$maroon: #810001;
$whiteSmoke: #ededed;
$orange: #c75e1a;
$black: #000002;
$green: #028910;
$transition: 0.3s all ease-in-out;
$borderRadius: 25px;
//////
%displayDirectionColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
%displayDirectionRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
/////
.styledUpdateButton {
  @extend %displayDirectionRow;
  justify-content: space-between;
  border: 1px solid $green;
  border-radius: $borderRadius;
  background-color: $green;
  color: $whiteSmoke;
  cursor: pointer;
  transition: $transition;
  &:hover {
    color: $green;
    a {
      color: $green;
    }
    background-color: $whiteSmoke;
    .icon {
      background-color: $green;
      color: $whiteSmoke;
    }
  }
  .icon {
    @extend %displayDirectionRow;
    width: 30px;
    height: 30px;
    border-radius: $borderRadius;
    background-color: $whiteSmoke;
    color: $green;
    transition: $transition;
  }
}
.styledDeleteButton {
  @extend %displayDirectionRow;
  justify-content: space-around;
  background-color: $maroon;
  border: 1px solid $maroon;
  color: $whiteSmoke;
  .icon {
    color: $maroon;
  }
  &:hover {
    background-color: $whiteSmoke;
    color: $maroon;
    a {
      color: $maroon;
    }
    .icon {
      color: $whiteSmoke;
      background-color: $maroon;
    }
  }
  .icon {
    @extend %displayDirectionRow;
    transition: $transition;
    background-color: $whiteSmoke;
    height: 30px;
    width: 30px;
    border-radius: $borderRadius;
  }
}
.productCard {
  width: 50%;
  color: $black;
  border-radius: $borderRadius;
  background-color: $blue;
  padding: 10px;
  p {
    word-wrap: break-word;
    font-weight: 600;
    transition: $transition;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      color: $orange;
    }
  }
  img {
    width: 100%;
  }
  .buttons {
    @extend %displayDirectionRow;
    justify-content: space-between;
    padding-top: 1.5rem;
    & button:first-child {
      @extend .styledUpdateButton;
    }
    & button:last-child {
      @extend .styledDeleteButton;
    }
  }
  & > .wrapper > p:nth-child(2),
  & > .wrapper > p:nth-child(5),
  & > .wrapper > p:nth-child(8),
  & > .wrapper > p:nth-child(9),
  & > .wrapper > p:nth-child(10),
  & > .wrapper > p:nth-child(11) {
    display: none;
  }
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
  padding: 20px;
  padding-top: 50px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  letter-spacing: 1.5px;
  height: 100%;
}
