@use "../../../../generalStyles.scss";

.navbar {
    @extend %displayDirectionRow;
    width: 100%;
    background-color: generalStyles.$darkBlue;
    height: 3rem;
    .icon {
        @extend %displayDirectionRow;
        border: 2px solid red;
        background-color: generalStyles.$whiteSmoke;
        border-radius: generalStyles.$borderRadius;
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
        color: generalStyles.$darkBlue;
        cursor: pointer;
        transition: generalStyles.$transition;
        border: 1px solid generalStyles.$darkBlue;
        &:hover {
            background-color: generalStyles.$darkBlue;
            border: 1px solid generalStyles.$whiteSmoke;
            color: generalStyles.$whiteSmoke;
        }
    }
    & .icon:first-child {
        margin-left: 20px;
    }
    & .icon:last-child {
        margin-right: 20px;
    }
}
