@use "../../../../generalStyles.scss";

.navbar {
    background-color: generalStyles.$darkBlue;
    height: 50px;
    width: 100%;
    margin-top: 40px;
    @extend %displayDirectionRow;
    color: generalStyles.$whiteSmoke;
    & > p {
        cursor: pointer;
        transition: generalStyles.$transition;
    }
    & > p:hover {
        color: generalStyles.$orange;
    }
}
