@use "../../../generalStyles.scss";

.usersCard {
    @extend .userCard;
    width: 21%;
}

.userCardMore{
    @extend .userCard;
    width: 30%;
    & > p:nth-child(3),
    & > p:nth-child(5),
    & > p:nth-child(6),
    & > p:nth-child(7) {
      display: block;
    }
    & > .more {
        display: none;
    }
}
