@use "../../../generalStyles.scss";

.property {
    @extend %displayDirectionRow;
    margin: 0 auto;
    width: 90%;
    .propertySection {
        @extend %displayDirectionColumn;
        width: 100%;
        gap: 1rem;
        .sectionDropMenu {
            @extend %displayDirectionColumn;
            justify-content: space-evenly;
            gap: 10px;
            width: 100%;
        }
    }
    .wrapperForMain {
        @extend %displayDirectionColumn;
        width: 100%;
    }
}
