@use "../../../generalStyles.scss";

.delete {
    @extend %displayDirectionColumn;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    .forMain {
        @extend %displayDirectionRow;
        width: 100%;
    }
}
