@use "../../../generalStyles.scss";

.navigation {
    @extend %displayDirectionRow;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    justify-content: space-evenly;
    a {
        text-decoration: none;
        color: generalStyles.$whiteSmoke;
        cursor: pointer;
        transition: generalStyles.$transition;
        font-size: 1.2rem;
        font-weight: 600;
        &:hover {
            color: generalStyles.$orange;
        }
    }
    .icon {
        @extend %displayDirectionRow;
        background-color: generalStyles.$whiteSmoke;
        border-radius: generalStyles.$borderRadius;
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
        color: generalStyles.$darkBlue;
        cursor: pointer;
        transition: generalStyles.$transition;
        border: 1px solid generalStyles.$darkBlue;
        &:hover {
            background-color: generalStyles.$darkBlue;
            border: 1px solid generalStyles.$whiteSmoke;
            color: generalStyles.$whiteSmoke;
        }
    }
}
