@use "../../../index.scss";

.navigation {
    @extend %displayDirectionRow;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    justify-content: space-evenly;
    a {
        text-decoration: none;
        color: index.$whiteSmoke;
        cursor: pointer;
        transition: index.$transition;
        font-size: 1.2rem;
        font-weight: 600;
        &:hover {
            color: index.$orange;
        }
    }
    .icon {
        @extend %displayDirectionRow;
        background-color: index.$whiteSmoke;
        border-radius: index.$borderRadius;
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
        color: index.$darkBlue;
        cursor: pointer;
        transition: index.$transition;
        border: 1px solid index.$darkBlue;
        &:hover {
            background-color: index.$darkBlue;
            border: 1px solid index.$whiteSmoke;
            color: index.$whiteSmoke;
        }
    }
}
